<VirtualHost *:80>
  ServerAdmin web@cgx.be
  ServerName {{ ansible_hostname }}
  DocumentRoot /var/www/html

  <Directory /var/www/html>
        Options -Indexes -FollowSymLinks -MultiViews
        DirectoryIndex home.php index.html index.htm index.php
        AllowOverride All
        Order allow,deny
        allow from all
  </Directory>

  <Directory />
        Options FollowSymLinks
        AllowOverride None
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}_error.log
  CustomLog ${APACHE_LOG_DIR}/{{ ansible_hostname }}_access.log combined

  <FilesMatch \.php$>
    SetHandler "proxy:unix:/var/run/php7.3-fpm.sock|fcgi://localhost"
  </FilesMatch>
  
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
