#!/bin/bash
#User and host (used by ssh)
BACKUPUSERHOST='borg@{{ borg.hostname }}'
#Repository (must be unique per machine)
REPOSITORY='{{ansible_fqdn}}'
#period for which we don't delete any backups
KEEPALLPERIOD='7d'
#number of daily backups to keep
KEEPDAILY='7'
#number of weekly backups to keep
KEEPWEEKLY='8'
#number of monthly backups to keep
KEEPMONTHLY='3'
#compression level may be: lz4 (fastest less efficient); zlib,N (zlib,6 is the default); lzma,N (slowest most efficient)
COMPRESSION='zlib'
#additional options
# -p show process
BORGEXTRAOPTS="-p"
export BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes
