# This is a config file for the Zabbix agent daemon (Unix)
# To get more information about Zabbix, visit http://www.zabbix.com
# Default file can be found in /etc/zabbix/zabbix_agentd.conf


PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
EnableRemoteCommands=0
LogRemoteCommands=1
Server=10.10.1.5
ListenIP={{ ansible_default_ipv4.address }}
ServerActive=zabbix.internal.cgx.be,127.0.0.1
Timeout=10


